Repository Flissel/Automation_ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @replace-with-your-maintainers, @replace-frontend-owner, @replace-backend-owner, @replace-docs-owner, @replace-ci-owner

feat: Implement core backend services and configuration
  backend/app/__pycache__/__init__.cpython-313.pyc
  backend/app/__pycache__/config.cpython-313.pyc
  backend/app/__pycache__/logger_config.cpython-313.pyc
  backend/app/__pycache__/logging.cpython-313.pyc
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/routers/__pycache__/__init__.cpython-313.pyc
  backend/app/routers/__pycache__/health.cpython-313.pyc
  backend/app/services/__pycache__/__init__.cpython-313.pyc
  backend/app/services/__pycache__/desktop_automation_service.cpython-313.pyc
  backend/app/services/__pycache__/manager.cpython-313.pyc
Owners: @replace-backend-owner

feat: Implement core backend services and configuration
  backend/app/__pycache__/__init__.cpython-313.pyc
  backend/app/__pycache__/config.cpython-313.pyc
  backend/app/__pycache__/logger_config.cpython-313.pyc
  backend/app/__pycache__/logging.cpython-313.pyc
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/routers/__pycache__/__init__.cpython-313.pyc
  backend/app/routers/__pycache__/health.cpython-313.pyc
  backend/app/services/__pycache__/__init__.cpython-313.pyc
  backend/app/services/__pycache__/desktop_automation_service.cpython-313.pyc
  backend/app/services/__pycache__/manager.cpython-313.pyc
Owners: @replace-backend-owner

feat: Add batch OCR processing and WebSocket reconnection
  CLAUDE.md
  auto-start-dual-monitors.py
  backend/app/main.py
  backend/app/routers/__init__.py
  backend/app/routers/api_v1.py
  backend/app/routers/ocr.py
  backend/app/routers/snapshots.py
  backend/app/routers/workflows.py
  backend/app/services/__init__.py
  backend/app/services/graph_execution_service.py
  backend/app/services/manager.py
  backend/app/services/ocr_service.py
  desktop-client/AUTOSTART-SETUP.md
  desktop-client/README.md
  desktop-client/dual_screen_capture_client.py
  desktop-client/requirements.txt
  desktop-client/setup-autostart.ps1
  desktop-client/start-desktop-client-hidden.vbs
  desktop-client/start-desktop-client.bat
  package-lock.json
  package.json
  playwright.config.ts
  src/App.tsx
  src/components/layout/Navigation.tsx
  src/components/trae/liveDesktop/DualCanvasOCRDesigner.tsx
  src/components/ui/connection-status.tsx
  src/config/websocketConfig.ts
  src/hooks/useWebSocketReconnect.example.tsx
  src/hooks/useWebSocketReconnect.ts
  src/pages/LiveDesktop.tsx
  src/pages/MultiDesktopStreams.tsx
  src/services/ocrBackendService.ts
  src/types/ocr.ts
  supabase/functions/live-desktop-stream/index.ts
  supabase/migrations/20251006_add_user_id_to_clients.sql
  supabase/migrations/20251006_create_active_desktop_clients.sql
  supabase/migrations/20251006_create_desktop_commands.sql
  supabase/migrations/20251008_cleanup_old_clients.sql
  vite.config.ts
Owners: @replace-with-your-maintainers, @replace-backend-owner, @replace-frontend-owner

feat: Add batch OCR processing and WebSocket reconnection
  CLAUDE.md
  auto-start-dual-monitors.py
  backend/app/main.py
  backend/app/routers/__init__.py
  backend/app/routers/api_v1.py
  backend/app/routers/ocr.py
  backend/app/routers/snapshots.py
  backend/app/routers/workflows.py
  backend/app/services/__init__.py
  backend/app/services/graph_execution_service.py
  backend/app/services/manager.py
  backend/app/services/ocr_service.py
  desktop-client/AUTOSTART-SETUP.md
  desktop-client/README.md
  desktop-client/dual_screen_capture_client.py
  desktop-client/requirements.txt
  desktop-client/setup-autostart.ps1
  desktop-client/start-desktop-client-hidden.vbs
  desktop-client/start-desktop-client.bat
  package-lock.json
  package.json
  playwright.config.ts
  src/App.tsx
  src/components/layout/Navigation.tsx
  src/components/trae/liveDesktop/DualCanvasOCRDesigner.tsx
  src/components/ui/connection-status.tsx
  src/config/websocketConfig.ts
  src/hooks/useWebSocketReconnect.example.tsx
  src/hooks/useWebSocketReconnect.ts
  src/pages/LiveDesktop.tsx
  src/pages/MultiDesktopStreams.tsx
  src/services/ocrBackendService.ts
  src/types/ocr.ts
  supabase/functions/live-desktop-stream/index.ts
  supabase/migrations/20251006_add_user_id_to_clients.sql
  supabase/migrations/20251006_create_active_desktop_clients.sql
  supabase/migrations/20251006_create_desktop_commands.sql
  supabase/migrations/20251008_cleanup_old_clients.sql
  vite.config.ts
Owners: @replace-with-your-maintainers, @replace-backend-owner, @replace-frontend-owner

chore: Cleanup unused files and update ESLint config
  .gitignore
  eslint.config.js
  scripts/update-external-repos.ps1
  src/components/trae/liveDesktop/ClientSelectorCard.tsx
  src/components/trae/liveDesktop/ConnectionStatusCard.tsx
  src/components/trae/liveDesktop/DesktopAutomationPanel.tsx
  src/components/trae/liveDesktop/DesktopScreensGrid.tsx
  src/components/trae/liveDesktop/DualMonitorWorkflow.tsx
  src/components/trae/liveDesktop/StreamControlsCard.tsx
  src/services/moireDetectionService.ts
Owners: @replace-with-your-maintainers, @replace-frontend-owner

chore: Cleanup unused files and update ESLint config
  .gitignore
  eslint.config.js
  scripts/update-external-repos.ps1
  src/components/trae/liveDesktop/ClientSelectorCard.tsx
  src/components/trae/liveDesktop/ConnectionStatusCard.tsx
  src/components/trae/liveDesktop/DesktopAutomationPanel.tsx
  src/components/trae/liveDesktop/DesktopScreensGrid.tsx
  src/components/trae/liveDesktop/DualMonitorWorkflow.tsx
  src/components/trae/liveDesktop/StreamControlsCard.tsx
  src/services/moireDetectionService.ts
Owners: @replace-with-your-maintainers, @replace-frontend-owner

feat: Add new components, pages and services
  src/components/ErrorBoundary.tsx
  src/components/electron/IntentChatPanel.tsx
  src/components/electron/LiveStreamWithDetection.tsx
  src/components/electron/index.ts
  src/components/trae/moire/MoireCanvas.tsx
  src/components/trae/moire/MoireDetectionOverlay.tsx
  src/components/trae/moire/hooks/useMoireServer.ts
  src/components/trae/moire/index.ts
  src/components/trae/moire/types.ts
  src/config/moireServerConfig.ts
  src/hooks/useWebSocketWithStore.ts
  src/pages/ElectronDesktopAutomation.tsx
  src/pages/MoireAnalysis.tsx
  src/services/clientManagerService.ts
  src/services/electronBridge.ts
  src/services/mcpBridgeService.ts
  src/stores/connectionStore.ts
  src/types/autogen.ts
  src/utils/errorHandling.ts
Owners: @replace-frontend-owner

feat: Add new components, pages and services
  src/components/ErrorBoundary.tsx
  src/components/electron/IntentChatPanel.tsx
  src/components/electron/LiveStreamWithDetection.tsx
  src/components/electron/index.ts
  src/components/trae/moire/MoireCanvas.tsx
  src/components/trae/moire/MoireDetectionOverlay.tsx
  src/components/trae/moire/hooks/useMoireServer.ts
  src/components/trae/moire/index.ts
  src/components/trae/moire/types.ts
  src/config/moireServerConfig.ts
  src/hooks/useWebSocketWithStore.ts
  src/pages/ElectronDesktopAutomation.tsx
  src/pages/MoireAnalysis.tsx
  src/services/clientManagerService.ts
  src/services/electronBridge.ts
  src/services/mcpBridgeService.ts
  src/stores/connectionStore.ts
  src/types/autogen.ts
  src/utils/errorHandling.ts
Owners: @replace-frontend-owner

.github/CODEOWNERS:

# CODEOWNERS
# Replace the placeholders with real GitHub usernames or teams (e.g., @org/team-name or @username)
# These owners will be requested for review when files they own change.

# Global default owner (fallback)
*       @replace-with-your-maintainers

# Frontend
/src/    @replace-frontend-owner
/package.json @replace-frontend-owner
/playwright.config.ts @replace-frontend-owner

# Backend
/backend/ @replace-backend-owner

# Docs
/docs/   @replace-docs-owner

# CI/CD
/.github/ @replace-ci-owner
